.headers-text {
  width: 179px;
  height: 33px;
  top: 23px;
  left: 230px;
  color: #ffffff;
}
.head-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
}
.head-texter {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: 0px;
  color: #ffffff;
}
.head-per-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #ffffff;
}
.head-rrrr-link {
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffd723;
}
.div-sec-one-terxer {
  width: 475px;
  height: 78px;
  top: 223px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #4d533ce5;
}
.dive-texter-sec-one {
  width: 475;
  height: 138;
  top: 50px;
  font-family: Poppins;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0px;
  color: #4d533c;
}
.texte-div-sec-one {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #21384299;
}
.mn-rr-sec-img {
  font-family: FontAwesome;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #d4d6d4;
}

.mn-one-sec-text {
  font-family: Poppins;
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #4d533c;
}

.doiv-sec-two {
  font-family: Poppins;
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #4d533c;
}
.div-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #152934;
}

.mn-sec-one {
  font-family: Poppins;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #4d533c;
}

.mn-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #21384299;
}

.mn-text-sec-three {
  font-family: Poppins;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0px;
  color: #4d533c;
}

.mn-text-sec-thre-one {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  width: 421;
  height: 156;
  top: 128px;
  color: #21384299;
}
