.headers-text {
  font-size: 34px;
  left: 230px;
  color: #ffffff;
}
.hero {
  padding-top: 188px;
  padding-bottom: 210px;
  background-image: url(../../images/slider.png);
  background-position: center;
  background-repeat: no-repeat;
}
.head-flex-link {
  margin-top: 33px;
}
.head-flex {
  display: flex;
}
.head {
  top: 28px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.flex-mn-line {
  box-shadow: 50px 50px 100px 0px #00000025;
}
.head-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #ffffff;
}
.head-texter {
  padding-top: 22px;
  width: 616px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: 0px;
  color: #ffffff;
}
.head-per-text {
  padding-bottom: 45px;
  padding-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #ffffff;
}
.display-line {
  display: flex;
}
.head-rrrr-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffffff;
}

.head-rrrr-link:hover {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffd723;
}

.div-sec-one-terxer {
  margin-bottom: 29px;
  margin-top: 223px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #4d533ce5;
}
.dive-texter-sec-one {
  margin-bottom: 35px;
  width: 370px;
  top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0px;
  color: #4d533c;
}
.texte-div-sec-one {
  width: 400px;
  margin-bottom: 42px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #21384299;
}
