.mn-rr-sec-img {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #d4d6d4;
}
.mn-rr-sec-img:hover {
  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffd723;
}

.mn-one-sec-text {
  width: 426px;
  margin-left: 40px;
  margin-bottom: 50px;
  margin-top: 224px;
  font-family: "Poppins";
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0px;
  color: #4d533c;
}
.div-sec-one {
  box-shadow: 0px 100px 100px 0px #00000025;
  background-color: #ffffff;
  margin-left: 250px;
  position: absolute;
}
.regulation-mein-link {
  display: flex;
}
.doiv-sec-two {
  margin-bottom: 9px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #4d533c;
}
.div-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #152934;
}

.mn-sec-one {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0px;
  color: #4d533c;
}

.mn-text-two {
  margin-top: 12px;
  margin-left: 133px;
  width: 518px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #21384299;
}
.mn-four-sec {
  margin-bottom: 100px;
}
.mn-text-sec-three {
  margin-top: 80px;
  margin-bottom: 24px;
  margin-left: 56px;
  width: 475px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0px;
}
.mn-text-sec-three-xwb {
  margin-top: 80px;
  margin-bottom: 24px;
  width: 475px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0px;
}

.mn-text-sec-thre-one {
  color: rgba(33, 56, 66, 0.6);
  margin-left: 56px;
  width: 421px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
}
.mn-text-sec-thre-one-xwb {
  color: rgba(33, 56, 66, 0.6);
  width: 421px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
}
.mn-rr-sec-img-mein {
  margin-top: 90px;
  margin-left: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #d4d6d4;
}
.mn-five-sec {
  margin-bottom: 100px;
}
.mn-rr-sec-img-mein:hover {
  margin-top: 90px;
  margin-left: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffd723;
}
.mn-rr-sec-img-mein-xwb {
  margin-top: 90px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #d4d6d4;
}
.mn-five-flexer-line {
  display: flex;
}
.six-sec {
  margin-bottom: 100px;
}
.seven-line-sec {
  margin-bottom: 50px;
  width: 822px;
  font-weight: 700;
  font-size: 60px;
  line-height: 74px;
  letter-spacing: 0px;
  color: #4d533c;
}
.balenciaga-image {
  margin-left: -175px;
}
.balenciaga {
}
.balenciaga-wrap {
  justify-content: center;
  display: flex;
}
.footer {
  background-color: #4f553d;
}
.display-backgraund {
  width: 1275px;
  height: 362px;
  padding-bottom: 70px;
  margin-left: 164px;
  margin-right: 289px;
  margin-top: 70px;
}
.mn-sec-four-four {
  margin-bottom: 90px;
  margin-left: 56px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #21384299;
  width: 421px;
  margin-top: 15px;
}
.mn-sec-four-four-xwb {
  margin-bottom: 90px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  color: #21384299;
  width: 421px;
  margin-top: 15px;
}
.mein-four-flex {
  display: flex;
}
.flex-mn-line {
  background-position: right;
  position: absolute;
  gap: 66px;
  padding-left: 65px;
  padding-right: 166px;
  padding-top: 60px;
  padding-bottom: 54px;
  background-color: #ffffff;
}

.mn-text-sec-thre-one {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0px;
  top: 128px;
  color: #4d533c;
}
.sec-six-text {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0px;
  width: 607px;
  height: 92px;
  color: #4d533c;
}
.sec-six-lin {
  display: flex;
}
.flex-texter-section {
  display: flex;
}
.mn-sec-one {
  width: 325px;
}
.mn-two-sec {
  display: flex;
  margin-top: 301px;
  margin-bottom: 110px;
}
.mn-texte-sec-six {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 183;
  height: 68;
  top: 27px;
  left: 30px;
  color: #4d533c;
}
.mn-textener-sec-six {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 0px;
  width: 194px;
  height: 78px;
  top: 115px;
  left: 30px;

  color: #21384299;
}
.mn-a-text {
  width: 102px;
  height: 24px;
  top: 249px;
  left: 30px;

  font-family: "FontAwesome", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #d4d6d4;
}
.mn-a-text:hover {
  width: 102px;
  height: 24px;
  top: 249px;
  left: 30px;

  font-family: "FontAwesome";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-decoration: underline;
  text-decoration-style: solid;
  color: #ffd723;
}
.flex-mn-line {
  display: flex;
}
